.header {
    color: rgb(226, 226, 226);
    background-color: rgb(0, 140, 255);
    height: 125px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    border:lightblue solid 5px;

}

.h4 {
    padding-top: 20px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 40px;
    padding-left: 40px;
    margin-bottom: 20px;

}

.pp {
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50%;
}

.h2 {
    padding: 40x;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 50;
    padding-left: auto;
    margin-right: auto;
    display:block;
    padding-top: 20px;
}

.ig {
    height: 50px;
}

.linkig {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    float:left; 
    margin: auto;
}

.fb {
    height: 50px;
}

ul {
    list-style-type: none;
}

.linkfb{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.ul {
    margin-top: 20px;
}

.header ul li a {
    color: greenyellow;
    text-decoration: none;
}

.footer {
    background-color: #333;
    height: 50px;
}

.copyright {
    color: #eaeaea;
    text-align: center;
    padding-top: 15px;
}

* {
    margin: 0;
}

.ig:hover {
    transform: scale(1.2);
    transition: 1s;
}

.fb:hover {
    transform: scale(1.2);
    transition: 1s;
}

li {
    display: inline-block;
    padding-left: 5px;
}