body {
    background-color: #eaeaea;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

.container {
    width: 960px;
    margin: auto;
    background-color: white;

}

.ribbon {
    padding-left: 790px;
    margin-top: -30px;
    position: absolute;
}

header {
    margin-top: -20px;
    margin-left: -8px;
    margin-bottom: -15px;
}

ul li {
    display: inline-block;
    padding-right: 15px;
    padding-bottom: 5px;
}

header a {
    text-decoration: none;
    color: salmon;
}

header h1 {
    margin-left: 37px;
    padding-top: 100px;
}

header a:hover {
    background-color: skyblue;
    color: white;
}

.hero {
    background-size: cover;
    height: 320px;
    width: 100%;
    border-top: 4px solid skyblue;
    border-bottom: 4px solid salmon;
    margin-top: 20px;
}

main {
    padding-left: 30px;
    float: left;
}

footer {
    background-color: black;
    height: 50px;
    margin-bottom: 0;
    margin: auto;
}

.footer {
    color: white;
    text-align: center;
    padding-top: 15px;
    margin: auto;
}

header p {
    padding-left: 20px;
}

main {
    height: 800px;
    width: 600px;
}

aside {
    width: 300px;
    float: right;
}

.fb {
    width: 100px;
    border-radius: 50%;
    margin-right: 20px;
    float: left;
}

aside p {
    font: 15px/25px arial;
}

main p {
    text-indent: 40px;
}

@media ( max-width:600px ) {

}

/* Clearfix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}